mlflow[extras]
psycopg2-binary
jupyterlab
jupyterlab-git
pylint
pytest
black
ydata-profiling[notebook]
pandas
matplotlib
seaborn
ipywidgets
statsmodels
scikit-learn
omegaconf
hydra-joblib-launcher
hydra-core
cookiecutter
boto3
python-dotenv
