mlflow[extras]==2.8.1
psycopg2
jupyterlab
jupyterlab-git
pylint
pytest
black
ydata-profiling[notebook]
pandas
matplotlib
seaborn
ipywidgets
statsmodels
scikit-learn
omegaconf
hydra-joblib-launcher
hydra-core
cookiecutter